# COMANDS
# Clean Containers and volumes: docker system prune -af, docker volume prune -f
# Clean Logs in cloud9: sudo journalctl --vacuum-time=1d

services:
  db:
    image: postgres
    restart: always
    ports:
      - '5432:5432'
    volumes:
      - devbarber_pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
  redis:
    image: redis:7
    container_name: redis-nest
    ports:
      - '6379:6379'
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - redis_data:/data
    restart: unless-stopped
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
      - "5555:5555"
    depends_on:
      - db
      - redis
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_USERNAME=${REDIS_USERNAME}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USERNAME=${EMAIL_USERNAME}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
    command: sh -c "npx prisma migrate deploy && node dist/src/main"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:${PORT_BACKEND}
      - API_URL=${API_URL}
      - JWT_PASSWORD=${JWT_PASSWORD}

volumes:
  devbarber_pgdata:
  redis_data:
